@model Product

<h2>حذف منتج</h2>
<h3>هل أنت متأكد أنك تريد حذف هذا؟</h3>

<div>
    <h4>@Model.Name</h4>
    <p>السعر: @Model.Price.ToString("c")</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
    </form>
</div>
